@font-face {
  font-family: 'GloberBoldFree';
  src: url('GloberBoldFree.eot');
  src: url('GloberBoldFree.woff2') format('woff2'),
       url('GloberBoldFree.woff') format('woff'),
       url('GloberBoldFree.ttf') format('truetype'),
       url('GloberBoldFree.svg#GloberBoldFree') format('svg'),
       url('GloberBoldFree.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

