@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background: #fff;
  color: #000; }

.sitecontainer {
  margin: 20px 0; }

.teal {
  color: #008ba4; }

@font-face {
  font-family: 'globerthin';
  src: url("GloberThinFree.eot");
  src: url("GloberThinFree.woff2") format("woff2"), url("GloberThinFree.woff") format("woff"), url("GloberThinFree.ttf") format("truetype"), url("GloberThinFree.svg#GloberThinFree") format("svg"), url("GloberThinFree.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: globerbold;
  src: url("globerbold.eot");
  /* IE9 Compat Modes */
  src: url("globerbold.eot?#iefix") format("embedded-opentype"), url("globerbold.woff2") format("woff2"), url("globerbold.woff") format("woff"), url("globerbold.ttf") format("truetype"), url("globerbold.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'globerbold', 'roboto'; }

.globerthin {
  font-family: 'globerthin', 'roboto'; }

.globerbold {
  font-family: 'globerbold', 'roboto'; }

.centertext {
  text-align: center;
  margin: 0 auto; }

.phone {
  padding-top: 10px; }

.fullback-one {
  background-image: url(../img/fullgreenback.png);
  height: 308px;
  width: 376px;
  padding: 20px; }
  .fullback-one h2 {
    color: white;
    font-family: 'globerbold';
    margin: 10px;
    line-height: 1.25em;
    font-size: 34px; }
  .fullback-one .redslash {
    background-image: url(../img/redslash.png);
    background-repeat: no-repeat;
    background-position: 0 25px; }

.rarealgae {
  font-family: 'globerthin', 'roboto';
  padding: 20px;
  line-height: 1.5;
  font-size: 20px; }

.blueborder {
  margin: 30px 20px !important;
  border-top: 30px solid #008ba4;
  border-right: 15px solid #008ba4;
  border-bottom: 30px solid #008ba4;
  border-left: 15px solid #008ba4;
  margin-top: -5px !important;
  height: 515px; }

h1 {
  position: relative;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center; }

h1:before, h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: red; }

h1:before {
  margin-left: -50%;
  text-align: right; }

.color {
  background-color: #ccc; }

.sale {
  background-image: url(../img/orangesale.png);
  width: 85px;
  height: 85px;
  position: absolute;
  top: 0;
  right: 0; }
  .sale h4 {
    color: #fff !important;
    padding-top: 21px; }

.greenbtn {
  background-color: #38a33f;
  border-radius: 10px;
  border-bottom: 8px solid #24875b;
  display: block;
  height: 44px;
  width: 190px;
  margin: 0 auto;
  color: white;
  padding-top: 5px; }

a .greenbtn {
  color: white; }

.footergreenbtn {
  background-color: #38a33f;
  border-radius: 10px;
  border-bottom: 8px solid #24875b;
  display: block;
  height: 60px;
  width: 260px;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding-top: 12px; }

.seal {
  position: relative;
  top: -15px;
  left: 0;
  float: left; }

.icon-mobile {
  padding: 0 5px 0 0; }

img.playbtn {
  position: absolute;
  left: 115px;
  top: 40px; }

img.playarrow {
  position: absolute;
  left: 170px;
  top: 125px; }

.taptoplay {
  position: absolute;
  color: white;
  left: 230px;
  top: 145px; }

.shadowbox {
  margin: 30px 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px; }
  .shadowbox .innercontent {
    padding: 25px 0; }
  .shadowbox .bottles {
    padding: 10px;
    width: 100%; }
  .shadowbox .price {
    color: #000;
    margin: 10px; }
  .shadowbox .dayprice {
    margin: 10px; }
  .shadowbox .yellowslash {
    background-image: url(../img/yellowslash.png);
    background-position: 25px 5px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding-left: 40px;
    margin-left: -40px; }
  .shadowbox .cartbtn {
    margin: 10px; }
  .shadowbox h3 {
    color: #000; }
  .shadowbox h4 {
    color: #008ba4;
    font-size: 20px; }
  .shadowbox h4.mostpopular {
    position: relative;
    color: white;
    top: -44px;
    margin: 0 auto;
    text-align: center;
    font-family: 'globerthin', 'roboto';
    font-size: 18px; }

.asseenonbox {
  margin: 30px 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  width: 100%; }
  .asseenonbox .innercontent {
    padding: 0; }
  .asseenonbox .greentop {
    background-color: #4c813d;
    height: 50px;
    display: block;
    margin: 0; }
  .asseenonbox h3 {
    color: #000; }
  .asseenonbox h4 {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 12px;
    left: 33%;
    text-align: center;
    margin: auto 0; }
  .asseenonbox h4.mostpopular {
    position: relative;
    color: white;
    top: -44px;
    margin: 0 auto;
    text-align: center;
    font-family: 'globerthin', 'roboto';
    font-size: 18px; }

.seenonelements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wingdings {
  font-family: 'wingdings'; }

.refrences {
  margin: 30px 0 30px 0; }

footer .logo {
  margin: 0 auto;
  padding: 25px; }

footer img {
  width: 350px;
  padding: 0 50px; }

footer .footermenu ul {
  padding: 0;
  text-align: center; }
  footer .footermenu ul li {
    display: inline;
    padding: 10px; }
    footer .footermenu ul li a {
      color: #8f8f8f; }

.copyright {
  text-align: center; }

.image {
  width: 250px;
  float: left;
  margin: 20px; }

body {
  font-size: small;
  line-height: 1.4; }

p {
  margin: 0; }

.performance-facts {
  border: 1px solid black;
  margin: 20px 0;
  float: left;
  width: 100%;
  padding: 0.5rem; }
  .performance-facts table {
    border-collapse: collapse; }

.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0; }

.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0; }
  .performance-facts__header p {
    margin: 0; }

.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
  width: 100%; }
  .performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th, .performance-facts__table thead tr td, .performance-facts__table--small thead tr td, .performance-facts__table--grid thead tr td {
    border: 0; }
  .performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th, .performance-facts__table td, .performance-facts__table--small td, .performance-facts__table--grid td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap; }
  .performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
    text-align: right; }
  .performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
    width: 1rem;
    border-top: 0; }
  .performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th, .performance-facts__table .thick-row td, .performance-facts__table--small .thick-row td, .performance-facts__table--grid .thick-row td {
    border-top-width: 5px; }

.small-info {
  font-size: 0.7rem; }

.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0; }
  .performance-facts__table--small thead tr {
    border-bottom: 1px solid black; }
  .performance-facts__table--small td:last-child {
    text-align: left; }
  .performance-facts__table--small th, .performance-facts__table--small td {
    border: 0;
    padding: 0; }

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0; }
  .performance-facts__table--grid td:last-child {
    text-align: left; }
    .performance-facts__table--grid td:last-child::before {
      content: "•";
      font-weight: bold;
      margin: 0 0.25rem 0 0; }

.text-center {
  text-align: center; }

.thick-end {
  border-bottom: 10px solid black; }

.thin-end {
  border-bottom: 1px solid black; }

.strongbones {
  margin: 0 auto; }

.floatright {
  float: right; }

.floatleft {
  float: left; }

.videoplayerholder {
  margin: 0 auto;
  top: 50px;
  right: 50px;
  position: absolute; }

@media only screen and (max-width: 1000px) {
  .videoplayerholder {
    position: initial; } }

@media only screen and (max-width: 1000px) {
  .desktoponly {
    display: none; }
  .mobileonly {
    display: block; } }

@media only screen and (min-width: 1000px) {
  .mobileonly {
    display: none; }
  .desktoponly {
    display: block; } }
