$bg-color: #fff;
$color: #000;

body {
    background: $bg-color;
    color:$color;
}

.sitecontainer {
  margin: 20px 0;
}


//
// colors
//

$teal : #008ba4;

.teal {
  color: $teal;
}

//
// Font Styles
//

@font-face {
  font-family: 'globerthin';
  src: url('GloberThinFree.eot');
  src: url('GloberThinFree.woff2') format('woff2'),
       url('GloberThinFree.woff') format('woff'),
       url('GloberThinFree.ttf') format('truetype'),
       url('GloberThinFree.svg#GloberThinFree') format('svg'),
       url('GloberThinFree.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
font-family: globerbold;
src: url('globerbold.eot'); /* IE9 Compat Modes */
src: url('globerbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('globerbold.woff2') format('woff2'), /* Super Modern Browsers */
     url('globerbold.woff') format('woff'), /* Pretty Modern Browsers */
     url('globerbold.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('globerbold.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: normal;
     font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

h1, h2, h3, h4, h5, h6 {
  font-family: 'globerbold', 'roboto';
}

.globerthin {
  font-family: 'globerthin', 'roboto';
}

.globerbold {
  font-family: 'globerbold', 'roboto';
}

.centertext {
  text-align: center;
  margin: 0 auto;
}



//

.phone {
  padding-top: 10px;
}

.fullback-one {
  background-image: url(../img/fullgreenback.png);
  height: 308px;
  width: 376px;
  padding: 20px;

  h2 {
    color: white;
    font-family: 'globerbold';
    margin: 10px;
    line-height: 1.25em;
    font-size: 34px;
  }

  .redslash {
    background-image: url(../img/redslash.png);
    background-repeat: no-repeat;
    background-position: 0 25px;
  }
}

.rarealgae {
  font-family: 'globerthin', 'roboto';
  padding: 20px;
  line-height: 1.5;
  font-size: 20px;
}

.blueborder {
  margin: 30px 20px !important;
  border-top: 30px solid #008ba4;
  border-right: 15px solid #008ba4;
  border-bottom: 30px solid #008ba4;
  border-left: 15px solid #008ba4;
  margin-top: -5px !important;
  height: 515px;
}

h1 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: red;
}
h1:before {
    margin-left: -50%;
    text-align: right;
}
.color {
    background-color: #ccc;
}

.sale {
    background-image: url(../img/orangesale.png);
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    right: 0;

    h4 {
      color: #fff !important;
      padding-top: 21px;
    }
}


.greenbtn {
  background-color: #38a33f;
  border-radius: 10px;
  border-bottom: 8px solid #24875b;
  display: block;
  height: 44px;
  width: 190px;
  margin: 0 auto;
  color: white;
  padding-top: 5px;
}

a .greenbtn {
  color: white;
}

.footergreenbtn {
  background-color: #38a33f;
  border-radius: 10px;
  border-bottom: 8px solid #24875b;
  display: block;
  height: 60px;
  width: 260px;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding-top: 12px;

}

.seal {
  position: relative;
  top: -15px;
  left: 0;
  float: left;
}



.icon-mobile {
  padding: 0 5px 0 0;
}


  img.playbtn {
    position: absolute;
    left: 115px;
    top: 40px;
  }


  img.playarrow {
    position: absolute;
    left: 170px;
    top: 125px;
  }

  .taptoplay {
    position: absolute;
    color: white;
    left: 230px;
    top: 145px;
  }

  .shadowbox {
    margin: 30px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;

    .innercontent {
      padding: 25px 0;
    }

    .bottles {
      padding: 10px;
      width: 100%;
    }

    .price {
      color: #000;
      margin: 10px;
    }

    .dayprice {
      margin: 10px;
    }

    .yellowslash {
      background-image: url(../img/yellowslash.png);
      background-position: 25px 5px;
      background-repeat: no-repeat;
      font-size: 20px;
      padding-left: 40px;
      margin-left: -40px;
  }

    .cartbtn {
      margin: 10px;
    }

    h3 {
      color: #000;
    }

    h4 {
      color: $teal;
      font-size: 20px;
    }

    h4.mostpopular {
        position: relative;
        color: white;
        top: -44px;
        margin: 0 auto;
        text-align: center;
        font-family: 'globerthin', 'roboto';
        font-size: 18px;
    }

  }

  .asseenonbox {
    margin: 30px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0;
    width: 100%;

    .innercontent {
      padding: 0;
    }

    .greentop {
      background-color: #4c813d;
      height: 50px;
      display: block;
      margin: 0;
    }

    h3 {
      color: #000;
    }

    h4 {
      color: #fff;
      font-size: 20px;
      position: absolute;
      top: 12px;
      left: 33%;
      text-align: center;
      margin: auto 0;
    }

    h4.mostpopular {
        position: relative;
        color: white;
        top: -44px;
        margin: 0 auto;
        text-align: center;
        font-family: 'globerthin', 'roboto';
        font-size: 18px;
    }

  }

  .seenonelements {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wingdings {
    font-family: 'wingdings';
  }



  .refrences {
    margin:30px 0 30px 0;
  }

footer {

  .logo {
    margin: 0 auto;
    padding: 25px;
  }

  img {
    width: 350px;
    padding: 0 50px;
  }

  .footermenu {
    ul{
      padding: 0;
      text-align: center;
      li {
    display: inline;
    padding: 10px;
        a {
         color: #8f8f8f;
        }
      }
    }
  }
}

.copyright {
  text-align: center;
}


//
// Facts table
//

.image {
  width: 250px;
  float: left;
  margin: 20px;
}
body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px 0;
  float: left;
  width: 100%;
  padding: 0.5rem;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th, td {
      border: 0;
    }
  }
  th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th, td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

.strongbones {
  margin: 0 auto;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.videoplayerholder {
  margin: 0 auto;
  top: 50px;
  right: 50px;
  position: absolute;
}

@media only screen and (max-width: 1000px) {
    .videoplayerholder {
        position: initial;
    }
  }

//
//Media Queries
//

@media only screen and (max-width: 1000px) {
    .desktoponly {
        display: none;
    }
    .mobileonly {
        display: block;
    }
}

@media only screen and (min-width: 1000px) {
    .mobileonly {
        display: none;
    }
    .desktoponly {
        display: block;
    }
}
